<div class="mt-4">
    <div class="container text-center" style="margin-top: 50px;">
        <h1>Danh sách khóa học</h1>
        <div class="row"> 
            <div class="col">
                <div class="card">
                    <img src="{{course.img_courses}}" class="card-img-top" alt="{{course.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                     </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{course.description}}</p>
                     </div>
                </div>
            </div> 
        </div>
    </div>
</div>