<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!--begin::Page-->
    <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
        <!--begin::Wrapper-->
        <div class="app-wrapper  flex-column flex-row-fluid " id="kt_app_wrapper">
            <!--begin::Wrapper container-->
            <div class="app-container  container-xxl d-flex flex-row flex-column-fluid ">
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid " id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">

                        <!-- CÁC CỘT THÔNG TIN CHÍNH SÁCH / TRỢ GIÚP / THEO DÕI...-->
                        <div class="container px-0">
                            <div class="row justify-content-between gx-0">
                                <div class="col-md-2 text-start mb-4">
                                    <h6 class="text-dark fw-bold mb-4">DỊCH VỤ KHÁCH HÀNG</h6>
                                    <ul class="list-unstyled lh-lg m-0">
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Trung Tâm Trợ Giúp DungBios</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Bios Blog</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Bios Mall</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Hướng Dẫn Mua Hàng/Đặt Hàng</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Hướng Dẫn Bán Hàng</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Ví BiosPay</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Bios Coin</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Đơn Hàng</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Trả Hàng/Hoàn Tiền</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Liên Hệ DungBios</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Chính Sách Bảo Hành</a></li>
                                    </ul>
                                </div>

                                
                                <div class="col-md-2 text-start mb-4">
                                    <h6 class="text-dark fw-bold mb-4">DŨNG BIOS VIỆT NAM</h6>
                                    <ul class="list-unstyled lh-lg m-0">
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Về Dũng Bios</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Tuyển Dụng</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Điều Khoản Sử Dụng</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Chính Sách Bảo Mật</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">BiosMall</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Kênh Bán Hàng</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Flash Sale</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Tiếp Thị Liên Kết</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Liên Hệ Truyền Thông</a></li>
                                    </ul>
                                </div>

                                
                                <div class="col-md-2 text-start mb-4">
                                    <h6 class="text-dark fw-bold mb-4">THANH TOÁN</h6>
                                    <ul class="list-unstyled lh-lg m-0 mb-4"> 
                                        <li>
                                            <img src="https://brandlogos.net/wp-content/uploads/2023/09/momo-logo_brandlogos.net_mtkvq.png" alt="icon" width="40"> 
                                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-ZaloPay-Square-1024x1024.png" alt="icon" width="40">    
                                        </li> 
                                    </ul>

                                    <h6 class="text-dark fw-bold mb-4">ĐƠN VỊ VẬN CHUYỂN</h6>
                                    <div class="row g-3">
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgNL4IKg5oLShIvZSCI0fvZYlFcis-N9W06lnFn7sa81EyXGup-cXSoqGkjCak2PU7bMjR0GLI5hMA1IsIMa0NRc8RPzb4EUUx-i3Uw-pUeE_nop8MAMEPLZxVOU0nd72ZGueyVLzDkB-6qDhkRNdDxWAS-JjnPZdEtjGv3ohgU-zEgUW6eXvteTRre/s2482/GKL20_SPX%20(Shopee%20Express)%20-%20Koleksilogo.com.jpg" alt="Shopee Express" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://i.pinimg.com/736x/ce/34/c3/ce34c3521c573808183b821b9e077389.jpg" alt="GHN" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://s3.mordorintelligence.com/lorien_files/live/CP/1704805651065_55-539-6709.png" alt="Viettel Post" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://inkythuatso.com/uploads/thumbnails/800/2021/12/logo-vnpost-inkythuatso-04-13-49-21.jpg" alt="VNPost" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://1000logos.net/wp-content/uploads/2022/08/JT-Express-Logo.png" alt="J&T Express" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://1000logos.net/wp-content/uploads/2022/08/Ninja-Van-Logo.png" alt="Ninja Van" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border rounded d-flex align-items-center justify-content-center p-2" style="height: 70px;">
                                                <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-Ahamove-Blue-1024x575.png" alt="Ahamove" class="img-fluid" style="max-height: 40px;">
                                            </div>
                                        </div>
                                    </div> 
                                </div>
 
                                <div class="col-md-2 text-start mb-4">
                                    <h6 class="text-dark fw-bold mb-4">THEO DÕI DUNG BIOS</h6>
                                    <ul class="list-unstyled lh-lg m-0">
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">
                                            <i class="fa-brands fa-facebook fa-xl me-1"></i>
                                            Facebook
                                        </a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">
                                            <i class="fa-brands fa-youtube fa-xl me-1"></i>
                                            YouTube
                                        </a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">
                                            <i class="fa-brands fa-zalo fa-xl me-1"></i>
                                            Zalo
                                        </a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">
                                            <i class="fa-brands fa-tiktok fa-xl me-1"></i>
                                            TikTok
                                        </a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">
                                            <i class="fa-brands fa-instagram fa-xl me-1"></i>
                                            Instagram
                                        </a></li>
                                    </ul>
                                </div>
 
                                <div class="col-md-2 text-start mb-4">
                                    <h6 class="text-dark fw-bold mb-4">TẢI ỨNG DỤNG DUNG BIOS</h6>
                                    <ul class="list-unstyled lh-lg m-0">
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Tải cho Android</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Tải cho iOS</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Quét mã QR</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Hướng dẫn cài đặt</a></li>
                                        <li><a href="#" class="text-gray-600 text-hover-primary text-decoration-none d-block py-1">Chính sách App</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="separator my-5"></div>
 
                        <!-- BẢN QUYỀN VÀ MENU-->
                        <div id="kt_app_footer" class="app-footer  align-items-center justify-content-between">
                            <!--begin::Copyright-->
                            <div class="text-gray-900 order-2 order-md-1">
                                <span class="text-muted fw-semibold me-1">2025&copy;</span>
                                <a href="" target="_blank" class="text-gray-800 text-hover-primary">DungBios</a>
                            </div>
                            <!--end::Copyright-->
                            <!--begin::Menu-->
                            <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                                <li class="menu-item"><a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a></li>
                                <li class="menu-item"><a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a></li>
                                <li class="menu-item"><a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a></li>
                            </ul>
                            <!--end::Menu-->    
                        </div> 

                        <!-- DÒNG LIÊN KẾT CHÍNH SÁCH -->
                        <div class="container px-0 mb-6">
                            <div class="d-flex justify-content-center flex-wrap gap-2 text-center small">
                                <a href="#" class="px-2 border-end text-decoration-none text-muted text-hover-primary">CHÍNH SÁCH BẢO MẬT</a>
                                <a href="#" class="px-2 border-end text-decoration-none text-muted text-hover-primary">QUY CHẾ HOẠT ĐỘNG</a>
                                <a href="#" class="px-2 border-end text-decoration-none text-muted text-hover-primary">CHÍNH SÁCH VẬN CHUYỂN</a>
                                <a href="#" class="px-2 text-decoration-none text-muted text-hover-primary">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
                            </div>
                        </div>

                    </div>
                    <!--end::Content wrapper-->
                </div>
                <!--end::Main-->
            </div>
            <!--end::Wrapper container-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>