<div class="container">
    <nav class='navbar navbar-expand-lg bg-body-tertiary'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='/'>
                Navbar
            </a>

            <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                <ul class='navbar-nav ml-auto mb-2 mb-lg-0'> 
                    <li class="nav-item dropdown mr-auto">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Khóa học của tôi
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/course">Xem Khóa học</a></li>
                            <li><a class="dropdown-item" href="/course/management">Quản Lý Khóa học</a></li>
                            <li>
                                <a class="dropdown-item" href="/course/trash">
                                    Thùng Rác 
                                    {{#if deleteCount}}
                                        <span class="badge bg-danger">{{deleteCount}}</span>
                                    {{/if}}
                                </a>
                            </li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        </ul>
                    </li>
                    {{#if user}}
                        <span class="me-2">Xin chào, {{user.displayName}}</span>
                        <a class="btn btn-outline-danger" href="/auth/logout" type="button">Đăng xuất</a>
                    {{else}}
                        <a class="btn btn-outline-secondary" href="/auth/google" type="button">Đăng nhập bằng Google</a>
                    {{/if}}

                </ul>
                </form>
            </div>
        </div>
    </nav>
</div>