<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <i class="ki-outline ki-arrow-up">
    </i>
</div>
<!--end::Scrolltop-->
<!-- ===================== Core Libraries ===================== -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"></script>
<!-- Bootstrap & Popper (v5.3.6) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- ===================== Metronic Global Variables ===================== -->
<script>
    var hostUrl = "https://preview.keenthemes.com/metronic8/demo38/assets/";
</script>
<!-- ===================== Metronic DEMO 38 ===================== -->
<!-- Global Bundle -->
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/plugins/global/plugins.bundle.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/js/scripts.bundle.js"></script>
<!-- Plugins -->
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!-- Custom Scripts -->
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/js/widgets.bundle.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/js/custom/widgets.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/js/custom/apps/chat/chat.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo38/assets/js/custom/utilities/modals/users-search.js"></script>
<!-- ===================== Metronic DEMO 28 ===================== -->
<!-- Global Bundle -->
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/plugins/global/plugins.bundle.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/js/scripts.bundle.js"></script>
<!-- Plugins -->
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!-- Custom Scripts -->
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/js/widgets.bundle.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/js/custom/widgets.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/js/custom/apps/chat/chat.js"></script>
<script src="https://preview.keenthemes.com/metronic8/demo28/assets/js/custom/utilities/modals/users-search.js"></script>
<!-- ===================== amCharts 5 ===================== -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>